In [118]:
import pandas as pd

In [119]:
dataURL = 'https://raw.githubusercontent.com/Datamanim/pandas/main/under5MortalityRate.csv'

df = pd.read_csv(dataURL)

In [120]:
df.head(4)

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Both sexes,60.27 [47.44-74.62]
1,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Male,63.83 [50.04-79.16]
2,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Female,56.57 [44.54-70.18]
3,Afghanistan,2018,Under-five mortality rate (probability of dyin...,Both sexes,62.54 [50.64-75.41]

In [121]:
def remov_trust(x):
  return float(x.split('[')[0])

df['First Tooltip'] = df['First Tooltip'].apply(remov_trust)
df = df.drop('Indicator', axis = 1)

Ans = df

In [122]:
Ans.head(4)

      Location  Period        Dim1  First Tooltip
0  Afghanistan    2019  Both sexes          60.27
1  Afghanistan    2019        Male          63.83
2  Afghanistan    2019      Female          56.57
3  Afghanistan    2018  Both sexes          62.54

In [123]:
Ans2 = df[(df['Dim1'] == "Both sexes") & (df['Period'] >= 2015)]

In [124]:
Ans2.head(3)

      Location  Period        Dim1  First Tooltip
0  Afghanistan    2019  Both sexes          60.27
3  Afghanistan    2018  Both sexes          62.54
6  Afghanistan    2017  Both sexes          64.94

In [125]:
Ans3 = Ans2.pivot(index = 'Location', columns = 'Period', values = 'First Tooltip')

# pivot으로 데이터 프레임 만들기
# df.pivot(index = 행, columns = 열, values = 값) 으로 데이터 프레임을 만든다

In [126]:
Ans3.head(3)

Period        2015   2016   2017   2018   2019
Location
Afghanistan  70.44  67.57  64.94  62.54  60.27
Albania       9.57   9.42   9.42   9.53   9.68
Algeria      25.18  24.79  24.32  23.81  23.26

In [127]:
Ans4 = df.pivot_table(index = 'Dim1', columns = 'Period', values = 'First Tooltip', aggfunc = 'mean')

# pivot table로 데이터 프레임 만들기
# df.pivot_table(index = 행, columns = 열, values = 값, aggfunc = 함수) 으로 피벗 테이블을 만든다

In [129]:
Ans4.iloc[:, :4]

Period            1950        1951        1952        1953
Dim1
Both sexes  147.700816  155.537544  157.811094  156.147206
Female      140.909796  149.210175  151.516094  150.250882
Male        154.151224  161.538246  163.760781  161.742059

In [131]:
dataURL2 = 'https://raw.githubusercontent.com/Datamanim/pandas/main/winter.csv'

In [132]:
df2 = pd.read_csv(dataURL2)

In [134]:
Ans5 = df2[df2['Country'] == 'KOR']

In [135]:
Ans5.head(4)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
2652,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,1000M,Bronze
2653,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,1000M,Gold
2671,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,5000M Relay,Gold
2672,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,5000M Relay,Gold

In [144]:
Ans6 = Ans5.pivot_table(index = 'Year', columns = 'Medal', aggfunc = 'size').fillna(0)

# pivot table에서 values를 기입하지 않고, aggfunc에 size를 인수로 대입하면,
# 해당 열의 값을 모두 카운팅해줄 수 있다.

In [145]:
Ans6

Medal  Bronze  Gold  Silver
Year
1992      1.0   5.0     1.0
1994      1.0   8.0     1.0
1998      2.0   6.0     4.0
2002      0.0   5.0     2.0
2006      2.0  14.0     3.0
2010      2.0   6.0    10.0
2014      2.0   7.0     5.0

In [148]:
Ans7 = df2.pivot_table(index = 'Sport', columns = 'Gender', aggfunc = 'size')

In [149]:
Ans7

Gender       Men  Women
Sport
Biathlon     270    150
Bobsleigh    416     36
Curling       97     75
Ice Hockey  1231    305
Luge         135     45
Skating      665    564
Skiing      1130    651

In [151]:
Ans8 = df2.pivot_table(index = 'Discipline', columns = 'Medal', aggfunc = 'size')

In [152]:
Ans8

Medal                      Bronze  Gold  Silver
Discipline
Alpine Skiing                 141   143     144
Biathlon                      139   140     141
Bobsleigh                     147   134     141
Cross Country Skiing          263   264     262
Curling                        56    58      58
Figure skating                118   122     119
Freestyle Skiing               34    34      34
Ice Hockey                    512   510     514
Luge                           60    62      58
Nordic Combined                55    55      55
Short Track Speed Skating      96    97      97
Skeleton                       10    10      10
Ski Jumping                    68    69      70
Snowboard                      30    30      30
Speed skating                 190   193     197