In [93]:
import pandas as pd
import datetime

In [169]:
DataURL = "https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv"

df = pd.read_csv(DataURL)

In [162]:
df.head(10)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
5,2061-01-06,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17
6,2061-01-07,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79
7,2061-01-08,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46
8,2061-01-09,12.58,10.83,10.00,4.75,10.37,6.79,8.04,10.13,7.79,9.08,13.04,15.37
9,2061-01-10,13.37,11.12,19.50,8.33,9.71,6.54,11.42,7.79,8.54,9.00,8.58,11.83

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB

In [170]:
df['Yr_Mo_Dy'] = pd.to_datetime(df['Yr_Mo_Dy'])

Ans = df.Yr_Mo_Dy

In [98]:
Ans.head(4)

0   2061-01-01
1   2061-01-02
2   2061-01-03
3   2061-01-04
Name: Yr_Mo_Dy, dtype: datetime64[ns]

In [99]:
Ans2 = df.Yr_Mo_Dy.dt.year.unique()

# 유일값 찾기 .unique()

# datetime 타입의 각 파트는 .dt로 접근할 수 있다.

# .date           YYYY-MM-DD
# .year           연도 (4자리)
# .month          월(숫자)
# .month_name()   월(문자)
# .day            일(숫자)
# .time           HH:MM:SS(숫자)
# .hour           시(숫자)
# .minute         분(숫자)
# .second         초(숫자)

In [100]:
Ans2

array([2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978])

In [101]:
Ans3 = df

def my_year(myear):
  if myear.year >= 2061:
    return datetime.date(myear.year - 100, myear.month, myear.day)
  else:
    return datetime.date(myear.year, myear.month, myear.day)

Ans3.Yr_Mo_Dy = Ans3.Yr_Mo_Dy.apply(my_year)

# datetime은 모듈로 import하여 사용할 수 있다.

# datetime의 함수 중
# datetime.date는 2023-02-05와 같은 형식으로 저장하고
# datetime.datetime은 2023-02-05 18:16:40과 같은 형식으로 저장할 수 있는 함수이다.

In [102]:
Ans3.head(4)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88

In [106]:
Ans4 = df

Ans4 = Ans4.groupby(Ans4.Yr_Mo_Dy.dt.year).mean()

# datetime 타입인 경우에, .dt.year등으로 접근하여 연도/월/일 별 평균 등을 계산할 수 있다.

In [107]:
Ans4.head(4)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301

In [108]:
Ans5 = df

Ans5['weekday'] = Ans5.Yr_Mo_Dy.dt.weekday

Ans5 = Ans5['weekday'].to_frame()

# 요일을 알아보는 방법은 datetime.dt.weekday와 datetime.dt.day_name()이 있다.
# weekday는 요일을 숫자로 나타내는 것이고,
# day_name()은 요일을 문자로 나타내는 것이다.

In [109]:
Ans5.head(3)

   weekday
0        6
1        0
2        1

In [110]:
def weekchk(x):
  if x <= 4: return 0
  else:      return 1

Ans6 = df

Ans6['weekday'] = Ans6.Yr_Mo_Dy.dt.weekday

Ans6['WeekCheck'] = Ans6.weekday.apply(weekchk)

Ans6 = Ans6['WeekCheck'].to_frame().head(3)

In [111]:
Ans6

   WeekCheck
0          1
1          0
2          0

In [112]:
Ans7 = df.groupby(df.Yr_Mo_Dy.dt.month).mean()

In [113]:
Ans7.head(4)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,
1,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763,2.989247,0.284946
2,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142,3.005906,0.287402
3,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317,3.000000,0.283154
4,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611,3.011111,0.288889

In [174]:
Ans8 = df

Ans8 = Ans8.fillna(method = "ffill")
Ans8 = Ans8.fillna(method = "bfill")

# 결측값을 채우는 방법 fillna() 함수를 활용한다.
# 이때, 값을 지정해서 채울 수도 있지만,
# method를 활용하면, 이전 값 혹은 이후 값으로 결측값을 채울 수도 있다.

# ffill/pad : 이전 값으로 채움
# bfill/backfill : 이후 값으로 채움

df = Ans8

In [115]:
Ans8.isnull().sum()

Yr_Mo_Dy     0
RPT          0
VAL          0
ROS          0
KIL          0
SHA          0
BIR          0
DUB          0
CLA          0
MUL          0
CLO          0
BEL          0
MAL          0
weekday      0
WeekCheck    0
dtype: int64

In [116]:
Ans9 = df.groupby(df.Yr_Mo_Dy.dt.to_period("M")).mean()

# dt.to_period : 원하는 부분까지만 추출할 수 있음
# ex) "Y" : 연도까지 "M" : 월까지 "D" : 일까지

In [117]:
Ans9.head(3)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,weekday,WeekCheck
Yr_Mo_Dy,,,,,,,,,,,,,,
1961-01,14.841333,11.988333,13.431613,7.736774,11.072759,8.588065,11.184839,9.245333,9.085806,10.107419,13.880968,14.703226,2.935484,0.290323
1961-02,16.269286,14.975357,14.441481,9.230741,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786,3.000000,0.285714
1961-03,10.890000,11.296452,10.752903,7.284000,10.509355,8.866774,9.644194,9.829677,10.294138,11.251935,16.410968,15.720000,3.000000,0.258065

In [120]:
# 연속적으로 측정된 관측치 간의 차이를 계산하는 것을 차분이라고 하며, 비정상 시계열을 정상으로 만들어 주는 방법 중 하나 입니다.

# 시계열의 분산을 안정화하는데 도움을 주는 데이터 처리 기법이다.

Ans10 = df

Ans10 = Ans10['RPT'].diff()
#Ans10 = Ans10['RPT'] - Ans10['RPT'].shift(1)

# 차분을 하려면, .diff()를 이용하거나,
# 직접 값의 차를 계산하면 되는데, 이때 shift(1)을 활용하면 된다.

In [121]:
Ans10.head(3)

0     NaN
1   -0.33
2    3.79
Name: RPT, dtype: float64

In [175]:
Ans11 = df

Ans11 = Ans11[['RPT', 'VAL']].rolling(7).mean()

In [176]:
Ans11.head(10)

         RPT        VAL
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN
5        NaN        NaN
6  14.124286  12.727143
7  13.541429  11.982857
8  13.237143  11.392857
9  12.504286  10.570000