In [163]:
import pandas as pd

In [164]:
DataURL = "https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv"
df = pd.read_csv(DataURL)
Ans = type(df)

In [165]:
Ans

pandas.core.frame.DataFrame

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [167]:
Ans2 = df[df['quantity'] == 3] # [] 안에 조건을 대입해서 새로운 데이터프레임으로 받으면 됨

In [168]:
Ans2.head(5)

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

In [169]:
type(Ans2)

pandas.core.frame.DataFrame

In [170]:
Ans3 = Ans2.reset_index(drop = True) 

# 인덱스를 재정렬 할 때에는 reset_index(drop = True) 함수를 이용하면 된다.

In [171]:
Ans3.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,338,3,Bottled Water,NaN,$3.27
4,350,3,Canned Soft Drink,[Sprite],$3.75

In [172]:
Ans4 = pd.DataFrame(data = [df['quantity'], df['item_price']]) 

# 행이 quantity, item_price 인 데이터프레임을 생성한다.

Ans5 = df[['quantity', 'item_price']]

# df에서 quantity, item_price인 열만 가져온다.

In [173]:
Ans4

,0,1,2,3,4,5,6,7,8,9,...,4612,4613,4614,4615,4616,4617,4618,4619,4620,4621
quantity,1,1,1,1,2,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
item_price,$2.39,$3.39,$3.39,$2.39,$16.98,$10.98,$1.69,$11.75,$9.25,$9.25,...,$9.25,$2.15,$1.50,$8.75,$4.45,$11.75,$11.75,$11.25,$8.75,$8.75

In [174]:
Ans5

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

In [175]:
df['new_price'] = df['item_price']

# 새로운 열 만들기 : 열을 정의하면 된다.

df['new_price'] = df['new_price'].str[1:]

# string 접근은 .str로 접근한다.

In [176]:
#df.info()

df['new_price'] = df['new_price'].astype('float')

#df.loc['item_price'] = df.loc['item_price'][1:]

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   new_price           4622 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB

In [178]:
Ans6 = df['new_price'].head()

In [179]:
Ans6

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: new_price, dtype: float64

In [180]:
Ans7 = df[df['new_price'] <= 5]

In [181]:
len(Ans7)

1652

In [182]:
Ans7 = df[df['item_name'] == "Chicken Salad Bowl"]
Ans7 = Ans7.reset_index()

In [183]:
Ans7.head(3)

,index,order_id,quantity,item_name,choice_description,item_price,new_price
0,44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
1,135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50,22.50
2,213,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50,22.50

In [184]:
Ans8 = df[(df['new_price'] <= 9) & (df['item_name'] == "Chicken Salad Bowl")]

In [185]:
Ans8.head(5)

,order_id,quantity,item_name,choice_description,item_price,new_price
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
256,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
526,220,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
528,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
529,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75

In [186]:
Ans9 = df.sort_values(by='new_price', ascending = True)
Ans9 = Ans9.reset_index(drop = True)

In [187]:
Ans9.head(4)

   order_id  quantity      item_name choice_description item_price  new_price
0       471         1  Bottled Water                NaN     $1.09        1.09
1       338         1    Canned Soda        [Coca Cola]     $1.09        1.09
2      1575         1    Canned Soda       [Dr. Pepper]     $1.09        1.09
3        47         1    Canned Soda       [Dr. Pepper]     $1.09        1.09

In [188]:
Ans10 = df[df['item_name'].str.contains("Chips")]

In [189]:
Ans10.head(5)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
6,3,1,Side of Chips,NaN,$1.69,1.69
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
14,7,1,Chips and Guacamole,NaN,$4.45,4.45

In [190]:
Ans11 = df.iloc[:, ::2] # iloc[행, 컬럼]

In [191]:
Ans11.head(5)

   order_id                              item_name item_price
0         1           Chips and Fresh Tomato Salsa     $2.39
1         1                                   Izze     $3.39
2         1                       Nantucket Nectar     $3.39
3         1  Chips and Tomatillo-Green Chili Salsa     $2.39
4         2                           Chicken Bowl    $16.98

In [192]:
Ans12 = df.sort_values(by='new_price', ascending = False)
Ans12 = Ans12.reset_index(drop = True)

In [193]:
Ans12.head(4)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
1,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
2,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00

In [194]:
Ans13 = df[(df['item_name'] == "Steak Salad") | (df['item_name'] == "Bowl")]

In [195]:
Ans13

,order_id,quantity,item_name,choice_description,item_price,new_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.40
752,311,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
893,369,1,Steak Salad,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$8.99,8.99
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69,8.69

In [196]:
Ans14 = df[(df['item_name'] == "Steak Salad") | (df['item_name'] == "Bowl")]
Ans14 = Ans14.drop_duplicates(['item_name'], keep = 'first')

# 중복을 제거할 때는 drop_duplicates 함수를 활용한다.

# 이때, 기준이 되는 열은 []안에 ,로 여러 개 연결할 수 있으며,
# keep = 'first' 조건에 의해 첫 번째 케이스만 남길 수도 있다.

In [197]:
Ans14

,order_id,quantity,item_name,choice_description,item_price,new_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99

In [198]:
Ans15 = df[(df['item_name'] == "Steak Salad") | (df['item_name'] == "Bowl")]
Ans15 = Ans15.drop_duplicates(['item_name'], keep = 'last')

In [199]:
Ans15

,order_id,quantity,item_name,choice_description,item_price,new_price
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.40
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69,8.69

In [200]:
Ans16 = df[df['new_price'] >= df['new_price'].mean()]

In [201]:
Ans16.head(5)

,order_id,quantity,item_name,choice_description,item_price,new_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25

In [208]:
Ans17 = df
Ans17.loc[Ans17['item_name'] == "Izze", 'item_name'] = "Fizzy Lizzy"

In [209]:
Ans17.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39

In [210]:
Ans18 = df['choice_description'].isnull().sum()

In [211]:
Ans18

0

In [212]:
Ans19 = df
Ans19.loc[Ans19.choice_description.isnull(), 'choice_description'] = 'NoData'

In [214]:
Ans19.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39

In [217]:
Ans20 = df[df.choice_description.str.contains("Black")]

# 문자열을 다룰 때에는 str 함수로 항상 접근하여야 한다.

In [218]:
Ans20.head(5)

,order_id,quantity,item_name,choice_description,item_price,new_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75

In [224]:
Ans21 = (~(df.choice_description.str.contains("Vegetables"))).sum()

# 반대의 경우를 상정할 때에는 ~ 표시로 NOT을 나타낸다.

In [225]:
Ans21

3900

In [227]:
Ans22 = df[df.item_name.str.len() >= 15]

# 문자열의 길이는 .str.len()으로 판단한다.

In [228]:
Ans22.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,2.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39,2.39

In [229]:
lst = [1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]

Ans23 = df[df.new_price.isin(lst)]

In [230]:
Ans23.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39